// ipad and tablet media
@media (max-width:990px) {
    // start header section
    .header {
        .navbar {
            .container {
                grid-template-columns: 100%;
                gap:2%;
                .logo {
                    text-align: center;
                    margin-bottom: 5%;
                }
                .nav-links {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
        .header-wrapper {
            h1 {
                font-size: 60px;
            }
                padding: 15% 0;
            p {
                width: 90%;
            }
        }
    }

    // start about-us section
    .about-us {
        .container {
            padding-top: 60px ;
            .images-wrapper {  
                justify-content:center;
                padding-top: 5%;
                img {
                    width: 80%;
                    &:first-child {
                    margin-right: auto;
    
                    }
                    &:nth-child(2) {
                    margin-right: -10%;
                    margin-top: -30%;
                    }
                }
            }
        }
    }

     // start testimonials section
     .testimonials {
        .container {
            div {
                h3 {
                font-size: 18px;
                }
                span {
                    font-size: 30px;
                    font-weight: normal;
                }
            }
        }
     }

     
    // start subscribe section
    .subscribe {
    grid-template-columns: 50% 50%;
    .subscribe-content {
        padding: 0 0 0 10%;
    }
}

// start footer section
    footer {
        .container {
            grid-template-columns: repeat(2, 1fr);padding: 0 5rem;
            div {
                margin-bottom: 2%;
            }
        }
    }
}


// mobile phones media
@media (max-width:700px) {
    // start header section
    .header {
        .navbar {
            .container {
                grid-template-columns: 100%;
                gap:2%;
                .logo {
                    text-align: left;
                    margin-bottom: 5%;
                }
                .nav-links {
                        flex-direction: column;
                        background-color: rgba(0, 0, 0, .2);
                        transform: translate3d(0%, -130%, 0);
                    &.active {
                        transform: translate3d(0, 0, 0);
                    }
                    li {
                        padding: 1rem 1.6rem;
                    }
                }
            }
        }  
        .header-wrapper {
            padding: 0;
        }
    }

    // start about us section
    .about-us {
        .container {
            grid-template-columns: 1fr;
            padding-top: 25px;
            .content-wrapper {
                align-items: center;
                text-align: center;
                padding-top: 20%;
                padding-bottom: 0;
                p {
                    line-height: 2;
                }
            }
            .images-wrapper {
                display: none;
            }
        }
    }

    // start our products section
    .products {
        .container {
            .products-wrapper {
                grid-template-columns: repeat(2, 1fr);
                div {
                    p {
                        left: 15px;
                        bottom: 25px;
                        font-weight: 500;
                    }
                    span {
                        bottom: 5px;
                    }
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }
    // start testimonials section
    .testimonials {
        padding: 3rem 0;
        .container {
            grid-template-columns: 1fr;
            div {
                margin: 1rem 0;
            }
        }
    }

    // start subscribe section
    .subscribe {
        grid-template-columns: 100%;
        .subscribe-content {
            padding: 0;
            margin-bottom: 40px;
            text-align: center;
            align-items: center;
            .email-form {
                width: 80%;
                .form-control {
                    height: 35px;
                }
                .submit {
                    height: 35px;
                }
            }
        }
    }

    // start sponsors section
    .sponsors {
        padding: 50px 0;
        .container {
            gap: 35px;
            flex-direction: column;
            img {
                margin: 1rem 0;
            }
        }
    }

    // start footer section
    footer {
        padding: 100px 0 40px 0;
        .container {
            grid-template-columns: 100%;
            gap: 25px;
            padding: 0 32px;
            div {
                text-align:center;
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    display: none;
                }
                &:last-child {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    } 
}











@media (min-width:700px) {
    .header {
        .navbar {
            .toggle {
                display:none
            }
        }
    }
}

// for so small screens
@media (max-width: 450px) {
    .products {
        padding-top: 80px;
        padding-bottom: 70px;
        .container {
            .products-heading {
                h2 {
                    font-size: 20px;
                }
                span {
                    font-size: 8px;
                }
            }
            .products-wrapper {
                grid-template-columns: 1fr;
                gap: 15px;
            }
        }
    }  
}