@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans&family=Playfair+Display&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1D1D1D;
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.header {
  background: url(../images/header.jpg) no-repeat top center/cover;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: #504941;
}

.header .navbar {
  font-family: "Montserrat", sans-serif;
}

.header .navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.header .navbar .container .logo {
  font-size: 1.6rem;
}

.header .navbar .container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header .navbar .container .nav-links a {
  padding: 0 1.6rem;
  font-weight: 500;
  font-size: 1rem;
}

.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 260px 0 240px 0;
}

.header .header-wrapper h1 {
  font-size: 80px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.header .header-wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1.2rem, 1.5rem);
  width: 35%;
}

.header .header-wrapper button {
  font-family: "Montserrat", sans-serif;
  width: 190px;
  height: 52px;
  background: #1005FF 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 25px;
}

.about-us {
  background-color: #F3F7F8;
}

.about-us .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  height: 670px;
  padding-top: 120px;
}

.about-us .container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15%;
  padding-bottom: 120px;
}

.about-us .container .content-wrapper h2 {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  font-size: 33px;
}

.about-us .container .content-wrapper h3 {
  font-family: "Playfair Display", serif;
  color: #666666;
  font-weight: 500;
  margin-bottom: 30px;
  width: 80%;
}

.about-us .container .content-wrapper p {
  width: 90%;
  color: #95989A;
  font-family: "Open Sans", sans-serif;
}

.about-us .container .images-wrapper {
  position: relative;
  max-width: 800px;
}

.about-us .container .images-wrapper img {
  position: absolute;
}

.about-us .container .images-wrapper img:first-child {
  left: 5rem;
  top: 1rem;
}

.about-us .container .images-wrapper img:nth-child(2) {
  right: 3rem;
  bottom: 6rem;
}
/*# sourceMappingURL=style.css.map */